<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--1.不用列标签之别名-->
        <setting name="useColumnLabel" value="false"/>
        <!--2.驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--3.不使用自增长-->
        <setting name="useGeneratedKeys" value="false"/>
        <!--4.支持log4j2-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    
    <!--给实体类起别名-->
    <typeAliases>
        <package name="com.senchen365.ssmempms.entity"/>
    </typeAliases>

</configuration>